- content_for :page_title, "Recent Builds"

%ul.build-list
  - builds.each do |build|
    = content_tag_for :li, build, class: "build-list-item" do
      .build
        .build-meta
          %h2.build-org-repo
            = build.repo.name
          %h4.build-time
            %span
              = time_ago_in_words(build.created_at)
        .build-meta
          %h3.build-pull-request
            %span Pull request
            %strong
              = build.pull_request_number
          %h3.build-sha
            %span Latest commit
            %strong
              = build.commit_sha[0..6]
        .build-meta
          %h3.build-pull-request
            %span
              Status:
              - if build.completed? && build.violations.any?
                %strong Failed
              - elsif build.completed?
                %strong Succeeded
              - else
                %strong Pending
        - if build.completed? && build.violations.any?
          .build-meta
            %h2.build-pull-request
              %strong Violations:
          .build-meta
            %ul
              - build.violations.each do |violation|
                = content_tag_for :li, violation do
                  %span
                    %strong
                      = violation.filename
                  %ul
                    - violation.messages.each do |msg|
                      %li
                        Line
                        = violation.line_number
                        \:
                        = msg
        = form_for :rebuild, url: repo_rebuilds_path(build.repo) do |form|
          = form.hidden_field :pull_request_number,
            value: build.pull_request_number
          = form.submit t(".new"), class: "build-button"
