%footer.app-footer{ role: "contentinfo" }
  %nav.app-footer__nav
    = link_to "Documentation",
      configuration_path,
      class: "app-footer__nav-link"
    = link_to "Source Code",
      "https://github.com/keycomb/keycomb-dot-co/blob/master/SOURCECODE.md",
      class: "app-footer__nav-link"
    = link_to "FAQ",
      "https://github.com/keycomb/keycomb-dot-co/blob/master/FAQ.md",
      class: "app-footer__nav-link"
    = link_to "Terms",
      "https://github.com/keycomb/keycomb-dot-co/blob/master/TERMS.md",
      class: "app-footer__nav-link"
    = link_to "Privacy",
      "https://github.com/keycomb/keycomb-dot-co/blob/master/PRIVACY.md",
      class: "app-footer__nav-link"
    = link_to "Security",
      "https://github.com/keycomb/keycomb-dot-co/blob/master/SECURITY.md",
      class: "app-footer__nav-link"

  %p
    Questions or looking for enterprise solutions? Email #{mail_to "support@keycomb.co"}.
